.contacts__form {
  max-width: 1206px;
  margin-inline: auto;
  padding-left: 25px;
  margin-top: 120px;
  margin-bottom: 200px;
  position: relative;

  @include mobile {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 64px;
    margin-bottom: 72px;
  }

  &-group {
    border: 2px solid #868b85;
    border-radius: 26px;
    background-color: #fff8ea;
    padding-top: 23px;
    padding-bottom: 22px;
    padding-left: 40px;
    margin-bottom: 24px;
    z-index: 2;

    width: size(597, 326);
    height: size(86, 64);

    @include mobile {
      border-radius: 16px;
      width: 100%;
    }
  }

  &-title {
    margin-bottom: 43px;
  }

  &-inner {
    &-group {
      display: flex;
      flex-direction: column;
    }

    &-btn {
      display: flex;
      justify-content: center;
      border-radius: 26px;
      background: #8f7949;
      width: size(192, 136);
      height: size(105, 78);

      @include mobile {
        border-radius: 16px;
      }

      button {
        font-weight: 500;
        line-height: 41px;

        text-transform: uppercase;

        color: #ffffff;

        @include font-size(32, 24);

        @include mobile {
          line-height: 30px;
        }
      }
    }
  }
}

.contacts__form-group::placeholder {
  font-weight: 500;
  line-height: 41px;

  text-transform: uppercase;

  color: #868b85;

  @include font-size(32, 24);

  @include mobile {
    line-height: 30px;
  }
}

.textarea {
  box-sizing: border-box;
  border: 2px solid #868b85;
  border-radius: 26px;

  width: size(597, 326);
  height: size(216, 164);

  @include mobile {
    border-radius: 16px;
    width: 100%;
  }
}

.contacts__background-frame {
  position: absolute;
  top: -20%;
  right: -60%;

  @include mobile {
    display: none;
  }
}

.h4 {
  @include mobile {
    font-size: 48px;
  }
}
