.border_bottom {
  border-bottom: 1px solid rgba(64, 72, 70, 0.15);
}

.contacts {
  max-width: 1206px;
  margin-inline: auto;
  padding-left: 20px;

  &__title {
    margin-top: 110px;
  }

  &__group {
    display: flex;
    margin-top: 165px;
    margin-bottom: 136px;

    &-info {

      &-title {
        font-size: 32px;
        line-height: 41px;
        color: #868B85;
        text-transform: uppercase;
        margin-bottom: 31px;

        &-main {
          text-transform: uppercase;
        }

        &-sosial {
          display: flex;
          max-width: 48px;
          img {
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.contacts-main {
  margin-left: 216px;
}

.sosial-title {
  margin-left: 16px;
}

.contacts-sosial {
  flex: 1;
  margin-left: 76px;
}