.banner {
  position: relative;

  &__background-frame__right {
    position: absolute;
    right: -30%;
    top: -34%;
  }

  &__img {
    position: relative;
    padding: 32px;

    @include mobile{ 
      padding: 0 25px 25px 25px;
    }
  }
}