.mastery {
  position: relative;

  &__h2 {
    position: relative;
    z-index: 1;
    margin-top: 212px;
    margin-left: 347px;
  }

  &__background-frame {
    max-width: 1115px;
    position: absolute;
    top: -6%;
  }

  &-blog__inner {
    position: relative;
    display: flex;
    margin-top: 120px;
  }

  &-part__inner-img {
    margin-top: 180px;
    padding-left: 32px;
    padding-right: 176px;
    width: 43%;
    z-index: 1;
  }

  &-part__inner-info {
    flex: 1;

    &-tittle {
      font-family: "Druk Cyr";
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 100%;
      color: #404846;
      margin-right: 189px;
      margin-bottom: 90px;

      span {
        color: #8f7949;
      }
    }

    &-description {
      max-width: 597px;
    }
  }

  &-part__inner-icon {
    max-width: 283px;
    margin-top: 200px;
    margin-left: 150px;
  }

  &-part__inner-icon2 {
    position: absolute;
    max-width: 283px;
    left: 82%;
    top: 48%;
  }
}
