.mastery {
  position: relative;

  @include mobile {
    padding: 25px;
  }

  &__h2 {
    position: relative;
    z-index: 1;
    margin-top: 11%;
    margin-left: 18%;

    @include mobile {
      margin-top: 15px;
      margin-left: 0px;
      margin-bottom: 40px;
    }

    @include tablet{

    }
  }

  &__background-frame {
    position: absolute;
    top: -10%;
    left: -27%;
  }

  &-blog__inner {
    position: relative;
    display: flex;
    margin-top: 120px;

    @include mobile {
      margin-top: 0;
      flex-direction: column;
    }
  }

  &-part__inner-img {
    margin-top: 180px;
    padding-left: 32px;
    padding-right: 176px;
    width: 43%;
    z-index: 1;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      width: 50%;
      margin-bottom: 40px;
      margin-inline-start: auto;
    }
  }

  &-part__inner-info {
    flex: 1;
    margin-bottom: 190px;

    &-tittle {
      margin-right: 189px;
      margin-bottom: 90px;
      @include font-size(60, 32);

      @include mobile {
        margin-bottom: 32px;
        margin-right: 0;
        line-height: 110%;
      }

      span {
        color: #8f7949;
      }
    }

    &-description {
      max-width: 597px;

      @include mobile {
        p {
          margin-bottom: 16px;
        }
      }

    }
  }

  &-part__inner-icon {
    width: 33%;
    margin-top: 200px;
    margin-left: 150px;

    @include mobile {
      width: 0;
      min-width: 38%;
      margin-top: 24px;
      margin-left: 51%;
      img {
        border-radius: 32px;
      }
    }


  }

  &-part__inner-icon2 {
    position: absolute;
    max-width: 283px;
    left: 82%;
    top: 48%;

    img {
      @include mobile {
        border-radius: 32px;
      }
    }

    @include mobile {
      width: 36%;
      left: 0%;
      top: 10%;
    }
  }
}