.mission {
  position: relative;

  @include mobile {
    padding: 25px;
  }


  &__h1 {
    text-transform: uppercase;
    margin-left: 661px;
    margin-top: 190px;
    @include font-size(240, 56);

    @include mobile {
      margin-left: 168px;
      margin-top: 0px;
      margin-bottom: 40px;
    }
  }


  &__blog-inner {
    position: relative;
    display: flex;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__part-inner-img {
    min-width: 604px;
    margin-top: 300px;
    margin-left: 32px;
  }

  &__part-inner-info {
    flex: 1;
    margin-left: 180px;
    margin-bottom: 300px;

    @include mobile {
      margin-left: 0;
      margin-bottom: 0;
    }

    &-tittle {
      margin-top: 120px;
      margin-right: 189px;
      @include font-size(60, 28);

      @include mobile {
        line-height: 110%;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 40px;
      }

      span {
        color: #8f7949;
      }
    }

    &-description {
      font-size: 24px;
      line-height: 140%;
      margin-top: 50px;

      @include mobile {
        margin-top: 0;
      }

      p {
        margin-right: 504px;
        min-width: 597px;

        @include mobile {
          margin-right: 0;
          min-width: 100%;
        }
      }
    }
  }

  &__part-inner-icon {
    position: relative;
    margin-top: 200px;
    margin-left: 150px;
    z-index: 2;
    max-width: size(283, 116);

    @include mobile {
      margin-left: 205px;
      margin-top: 0;
    }

    img {
      @include mobile {
        border-radius: 32px;
      }
    }
  }

  &__part-inner-icon2 {
    position: absolute;
    max-width: 283px;
    right: 2%;
    top: 40%;
  }

  &-background-frame {
    position: absolute;
    right: 0;
    top: 57%;
  }
}