.sculptures__banner {
  position: relative;

  &-img {
    position: relative;
    padding: 32px;
    z-index: 2;

    img {
      @include mobile {
        min-height: 192px;
      }
    }

    @include mobile {
      padding: 25px;
      border-radius: 48px;
    }


  }
}