.sculptures__group {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 40%; 
  margin-left: 34%;

  // @include vw-property-big(
  //   (
  //     margin-left: 661,
  //     max-width: 755,
  //   )
  // );

  @include tablet {
    max-width: 60%;
    margin-left: 24%;
  }

  @include mobile {
    max-width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }

  &-title {
    font-size: 48px;
    line-height: 100%;
    z-index: 2;

    @include mobile {
      font-size: 40px;
      line-height: 110%;
      color: #414a47;
    }
  }

  &-important {
    font-family: "Neue Haas Unica";
    font-style: normal;
    font-size: 18px;
    line-height: 140%;

    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #414947;
    margin-top: 70px;
    width: size(737, 326);

    @include mobile {
      margin-top: 16px;
      font-size: 14px;
    }
  }

  &-description {
    @include mobile {
      max-width: 328px;
    }
  }

  &-description p {
    @include mobile {
      margin-bottom: 24px;
    }
  }
}

.list {
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  letter-spacing: -0.015em;

  color: #414947;

  opacity: 0.7;
  padding: 0 24px;

  @include mobile {
    padding: 0 0 0 14px;
  }

  li {
    margin-bottom: 16px;
    padding-left: 24px;

    @include mobile {
      width: 298px;
      padding-left: 16px;
      font-size: 12px;
      line-height: 140%;
      color: #414947;

      opacity: 0.7;
    }
  }
}

.sculptures__inner {
  margin-top: 90px;
  margin-bottom: 200px;

  @include mobile {
    margin-top: 18px;
    margin-bottom: 72px;
  }
}

.sculptures__background-frame-head {
  position: absolute;
  right: -144%;
  top: -25%;

  @include mobile {
    right: -5%;
    top: 0;
    transform: translate(43%, 32%);
  }
}

.sculptures__background-frame-body {
  position: absolute;
  left: -166%;
  top: 11%;
}

.sculptures__background-frame-foooter {
  position: absolute;
  right: -175%;
  bottom: -41%;

  @include mobile {
    display: none;
  }
}

.sculptures__background-frame-title {
  position: absolute;
  top: 0%;
  left: 0;
  transform: translate(-125%, -13%);

  @include mobile {
    top: 0%;
    left: -76%;
    transform: translate(5%, 0%);
  }
}
