.sculptures__group {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 40%;
  margin-left: 34%;

  // @include vw-property-big(
  //   (
  //     margin-left: 661,
  //     max-width: 755,
  //   )
  // );

  @include tablet {
    max-width: 60%;
    margin-left: 24%;
  }

  @include mobile {
    max-width: 100%;
    margin-left: 25px;
    margin-right: 25px;
  }

  &-title {
    font-size: 48px;
    line-height: 100%;
    z-index: 2;

    @include mobile {
      width: 100%;
      font-size: 40px;
      line-height: 110%;
      color: #414a47;
    }
  }

  &-important {
    font-family: "Neue Haas Unica";
    font-style: normal;
    font-size: 18px;
    line-height: 140%;

    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #414947;
    margin-top: 70px;
    width: size(737, 326);
    position: relative;
    z-index: 2;

    @include mobile {
      margin-top: 16px;
      font-size: 14px;
      width: 100%;
    }
  }

  &-description {
    @include mobile {
      width: 100%;
    }
  }

  &-description p {
    @include mobile {
      margin-bottom: 24px;
    }
  }
}

.list {
  font-family: "Neue Haas Unica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  position: relative;
  z-index: 2;
  /* identical to box height, or 28px */

  letter-spacing: -0.015em;

  color: #414947;

  opacity: 0.7;
  padding: 0 24px;

  @include mobile {
    padding: 0 0 0 14px;
  }

  li {
    margin-bottom: 16px;
    padding-left: 24px;

    @include mobile {
      width: 100%;
      padding-left: 16px;
      font-size: 12px;
      line-height: 140%;
      color: #414947;

      opacity: 0.7;
    }
  }
}

.sculptures__inner {
  margin-top: 90px;
  margin-bottom: 200px;

  @include mobile {
    margin-top: 18px;
    margin-bottom: 72px;
  }
}

.sculptures__background-frame-head {
  position: absolute;
  right: -41%;
  top: 0%;
  transform: translate(65%, -47%);

  @include tablet {
    right: -5%;
    top: 0;
    transform: translate(43%, 32%);
  }
}

.sculptures__background-frame-body {
  position: absolute;
  left: 0;
  top: 0%;
  width: 160%;
  transform: translate(-97%, 15%);

  @include laptop{
    transform: translate(-86%, 67%);
  }

  @include mobile {
    transform: translate(-54%, 63%);
  }
}

.sculptures__background-frame-foooter {
  width: 150%;
  position: absolute;
  right: 0%;
  bottom: 0%;
  transform: translate(99%, 66%);


  @include laptop {
    transform: translate(79%, 66%);
  }

  @include mobile {
    display: none;
  }
}

.sculptures__background-frame-title {
  position: absolute;
  top: 0%;
  left: 0;
  transform: translate(-127%, -15%);
  width: 100%;

  @include mobile {
    right: 0;
    bottom: 0%;
    transform: translate(-15%, 19%);
    width: 110%;
  }
}