.sculptures__group {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 755px;
  margin-left: 661px;

  &-important {
    width: 737px;
    font-family: 'Neue Haas Unica';
    font-size: 18px;
    line-height: 140%;

    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #414947;
    margin-top: 70px;
  }
}

.list {
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  letter-spacing: -0.015em;

  color: #414947;

  opacity: 0.7;
  padding: 0 24px;

  li {
    margin-bottom: 16px;
    padding-left: 24px;
  }

}

.sculptures__inner {
  margin-top: 90px;
  margin-bottom: 200px;
}

.sculptures__background-frame-head {
  position: absolute;
  right: -144%;
  top: -25%;
}

.sculptures__background-frame-body {
  position: absolute;
  left: -166%;
  top: 11%;
}

.sculptures__background-frame-foooter {
  position: absolute;
  right: -175%;
  bottom: -41%;
}

.sculptures__background-frame-title{
  position: absolute;
  top: 5%;
  left: -34%;
}