.sculptures__title {
  margin-left: 347px;
  margin-top: 110px;
  margin-bottom: 90px;

  &-inner-info {
    margin-left: 661px;
    max-width: 1227px;
    max-height: 240px;
    margin-bottom: 115px;
    padding-right: 32px;
  }
  
  &-info{
    padding:32px;
    margin-left: 629px;
    margin-bottom: 115px;
  }
}