.footer {
  &-inner {
    position: relative;
    display: flex;
    height: 428px;
    bottom: 0px;
    margin: 0px 32px 32px 32px;
    background: #414a47;
    justify-content: space-between;
    padding: 90px 64px;

    @include tablet {
      margin: 0px 24px 24px 24px;
      padding: 48px 24px;
      flex-direction: column;
      height: auto;
    }

    a {
      color: #fff;
      margin-bottom: 24px;
      @include font-size(40, 26);

      @include tablet {
        margin-bottom: 16px;
      }
    }

    &__logo {
      transform: translateY(8px);

      @include tablet {
        width: 110px;
        transform: none;
        margin-inline: auto;
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      a:hover {
        color: #677471;
        transition: 0.3s ease;
      }

      @include tablet {
        border-top: solid 1px rgba($color: #fff, $alpha: 0.05);
        padding-top: 32px;
      }

      a {
        @include font-size(40, 26);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      a:hover {
        color: #677471;
        transition: 0.3s ease;
      }

      @include tablet {
        border-bottom: solid 1px rgba($color: #fff, $alpha: 0.05);
        padding-bottom: 16px;
      }
    }

    &__sosial {
      display: flex;
      flex-direction: column;
      width: 20%;

      a:hover {
        opacity: 0.3;
        transition: 0.3s ease;
      }

      @include tablet {
        padding-left: 8px;
        align-items: center;
        width: 100%;
      }

      &-phone {
        color: #fff;

        @include laptop {
          padding-left: 8px;
        }


        @include font-size(40, 32);

        &-desktop {
          @include tablet {
            display: none;
          }
        }

        &-mobile {
          display: none;

          @include tablet {
            display: block;
            margin-top: 24px;
            margin-bottom: 32px;
            padding-left: 0;
            margin-inline: auto;
          }
        }
      }

      &-icon {
        display: flex;

        a {
          padding-top: 24px;
          padding-left: 8px;
          padding-right: 8px;

          @include tablet {
            padding-top: 32px;
          }
        }

        @include tablet {
          // margin-left: 35px;
        }
      }
    }
  }
}