.footer {
  &-inner {
    position: relative;
    display: flex;
    height: 428px;
    bottom: 0px;
    margin: 0px 32px 32px 32px;
    background: #414a47;
    justify-content: space-between;
    padding: 90px 64px;

    @include mobile {
      flex-direction: column;
      height: auto;
    }

    a {
      color: #fff;
      margin-bottom: 24px;
    }

    &__logo {
      transform: translateY(8px);

      @include mobile {
        width: 110px;
        transform: none;
        margin-inline: auto;
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      font-family: "Druk Cyr";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      text-transform: uppercase;
    }

    &__info {
      display: flex;
      flex-direction: column;
      font-family: "Druk Cyr";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      text-transform: uppercase;
    }

    &__sosial {
      display: flex;
      flex-direction: column;
      width: 400px;

      &-phone {
        color: #fff;
        padding-left: 16px;

        &-desktop {
          @include mobile {
            display: none;
          }
        }

        &-mobile {
          display: none;

          @include mobile {
            display: block;
            padding-left: 0;
            margin-inline: auto;
          }
        }
      }

      &-icon {
        display: flex;

        a {
          padding-top: 24px;
          padding-left: 16px;
        }
      }
    }
  }
}