<div class="sculptures__inner">
  <div class="sculptures__group">
    <div class="sculptures__background-frame-head">
      <img src="./assets/images/background/sculptures/second-right.svg" alt="">
    </div>
    <div class="sculptures__group-title h4 title_main">Как работает Световая<br> Скульптура?</div>
    <div class="sculptures__group-description">
      <p>Принцип действия Световой Скульптуры основан на энергии сакральной геометрии, которую усиливает и делает
        динамичной свет. Эта энергия приносит очищение и гармонию в окружающее помещение, возвышает сознание находящихся
        в
        нём людей.</p>
    </div>
    <div class="sculptures__background-frame-body">
      <img src="./assets/images/background/sculptures/third-left.svg" alt="">
    </div>
    <div class="sculptures__group-title h4 title_margin">Практика созерцания.</div>
    <div class="sculptures__group-description">
      <p>В России мастерская Meditation Art является эксклюзивным представителем ипроизводителем светильников для
        медитации по уникальной итальянской технологии.</p>
      <p>Добейтесь такого эффекта, чтобы ваш разум был свободен от навязчивых мыслей, задержитесь в этом безмятежном
        состоянии и прочувствуйте момент.</p>
      <p>Наблюдайте, как символы, цвета, формы Световой Скульптуры Meditation Art пробуждают в вас яркое творческое
        начало. Рекомендуем смотреть на расстоянии и сконцентрироваться только на созерцании. Символы и цвета
        светильника
        воспринимаются каждым человеком через призму своего видения. В процессе наблюдения трансформация происходитна
        глубинном уровне, пробуждая возвышенные состояния сознания, в которых возможно воссоединениес источником
        творения.
      </p>
    </div>
    <div class="sculptures__group-title h4 title_margin">Выбор места для установки Световой Скульптуры<br>Meditation Art
    </div>
    <div class="sculptures__group-description">
      <p>Наиболее оптимальными являются следующие варианты расположения Световой Скульптуры:</p>
      <ol class="list">
        <li>Восточная стена в северо-восточной части помещения.</li>
        <li>Северная часть на восточной или северной стене.</li>
        <li>Благоприятно разместить Световую Скульптуру в любом другом месте,<br>
          обратив её лицом на восток.</li>
      </ol>
    </div>
    <div class="sculptures__group-important">ВАЖНО: РАЗМЕЩАТЬ НА СТЕНАХ, ЗА КОТОРЫМИ НАХОДЯТСЯ СУНУЗЛЫ И ВАННЫЕ КОМНАТЫ
      НЕ РЕКОМЕНДУЕТСЯ.</div>
    <div class="sculptures__background-frame-foooter">
      <img src="./assets/images/background/sculptures/fore-right.svg" alt="">
    </div>
  </div>
</div>