<section class="contacts__form">
  <div class="contacts__form-title h4">Обратная связь</div>
  <div class="contacts__form-inner">
    <form action="" class="contacts__form-inner-group">
      <input class="contacts__form-group" type="text" name="" id="" placeholder="Ваше имя">
      <input class="contacts__form-group" type="text" name="" id="" placeholder="ваш телефон">
      <input class="contacts__form-group" type="email" name="" id="" placeholder="ваша почта">
      <textarea class="contacts__form-group textarea" placeholder="ваш вопрос"></textarea>
    </form>
    <div class="contacts__form-inner-btn">
      <button>отправить</button>
    </div>
    <div class="contacts__background-frame">
      <img src="./assets/images/background/contacts/frame.svg" alt="">
    </div>
  </div>
</section>