<section class="experience">
  <div class="experience__background-frame frame">
    <img src="./assets/images/background/frame_catalog.svg" alt="">
  </div>
  <div class="experience__inner">
    <div class="experience__inner-title text-indent">
      <span class="small_title">Опыт</span>
      Световые Скульптуры Meditation Art откроют вам дверь к глубокому внутреннему
      опыту.
    </div>
    <a href="/sculptures" class="experience__inner-btn">
      Узнать больше о Световых Скульптурах
      </button>
  </div>
</section>