<div class="modal active">
  <button class="modal__close">
    <img src="./assets/images/close.svg" alt="">
  </button>
  <div class="modal__inner">
    <div class="modal__inner-info-group">
      <div class="modal__inner-info-img border-radius">
        <img src="./assets/images/catalog/modals_big.jpg" alt="">
      </div>
      <div class="modal__inner-info-img-small">
        <button>
          <img src="./assets/images/catalog/modals_small1.jpg" alt="">
        </button>
        <button>
          <img src="./assets/images/catalog/modals_small1.jpg" alt="">
        </button>
        <button>
          <img src="./assets/images/catalog/modals_small1.jpg" alt="">
        </button>
        <button>
          <img src="./assets/images/catalog/modals_small1.jpg" alt="">
        </button>
      </div>
    </div>
    <div class="modal__inner-info-content">
      <div class="modal__inner-info-content-title">Духовный глаз</div>
      <div class="modal__inner-info-content-description">
        <p>Выполнен в 4 уровня из дерева с актировой лепнинойи светодиодной подсветкой, вручную декорирован,раскрашен
          и покрыт паталью.</p>
      </div>
      <div class="modal__inner-info-content-size">
        <div class="modal__inner-info-content-size-btn active">
          <button>50x50x50</button>
        </div>
        <div class="modal__inner-info-content-size-btn">
          <button>25x25x25</button>
        </div>
        <div class="modal__inner-info-content-size-btn">
          <button>10x10x10</button>
        </div>
      </div>
      <div class="modal__inner-info-content-price">
        50 000
        <sup>руб.</sup>
      </div>

      <form action="" class="modal__inner-form-group">
        <input class="modal__form-group" type="text" name="" id="" placeholder="Ваше имя">
        <input class="modal__form-group" type="text" name="" id="" placeholder="ваш телефон">
      </form>

      <div class="modal__btn">
        <button>Заказать</button>
      </div>
    </div>
  </div>
</div>
</div>