<div class="modal" id="product_modal_{{id}}">
  <button class="modal__close" onclick="closeModal('product_modal_{{id}}')">
    <img src="./assets/images/close.svg" alt="">
  </button>
  <div class="modal__inner">
    <div class="modal__inner-info-group">
      <div class="swiper modal__inner-info-img" id="modal_swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./assets/images/catalog/modals_big.jpg" class="border-radius" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./assets/images/catalog/modals_big.jpg" class="border-radius" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./assets/images/catalog/modals_big.jpg" class="border-radius" alt="">
          </div>
          <div class="swiper-slide">
            <img src="./assets/images/catalog/modals_big.jpg" class="border-radius" alt="">
          </div>
        </div>
      </div>
      <div class="swiper modal__inner-info-img-small" id="swiper_thumbs">
        <div class="swiper-wrapper">
          <button onclick="modalChangeSlide(0)" class="swiper-slide">
            <img src="./assets/images/catalog/modals_small1.jpg" alt="">
          </button>
          <button onclick="modalChangeSlide(1)" class="swiper-slide">
            <img src="./assets/images/catalog/modals_small1.jpg" alt="">
          </button>
          <button onclick="modalChangeSlide(2)" class="swiper-slide">
            <img src="./assets/images/catalog/modals_small1.jpg" alt="">
          </button>
          <button onclick="modalChangeSlide(3)" class="swiper-slide">
            <img src="./assets/images/catalog/modals_small1.jpg" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="modal__inner-info-content">
      <div class="modal__inner-info-content-title">Духовный глаз</div>
      <div class="modal__inner-info-content-description">
        <p>Выполнен в 4 уровня из дерева с актировой лепниной и светодиодной подсветкой, вручную декорирован, раскрашен
          и покрыт паталью.</p>
      </div>
      <div class="modal__inner-info-content-size">
        <button class="modal__inner-info-content-size-btn active" onclick="modalButtonToggle(this, '{{id}}')"
          data-price="{{price1}}">{{size1}}</button>
        <button class="modal__inner-info-content-size-btn " onclick="modalButtonToggle(this, '{{id}}')"
          data-price="{{price2}}">{{size2}}</button>
        <button class="modal__inner-info-content-size-btn " onclick="modalButtonToggle(this, '{{id}}')"
          data-price="{{price3}}">{{size3}}</button>
      </div>
      <div class="modal__inner-info-content-price">
        <span data-bind-price>50 000</span>
        <sup>руб.</sup>
      </div>

      <form action="" class="modal__inner-form-group">
        <input class="modal__form-group" type="text" name="" id="" placeholder="Ваше имя">
        <input class="modal__form-group" type="text" name="" id="" placeholder="ваш телефон">
      </form>

      <button class="modal__btn" onclick="openModal('success_modal')">Заказать</button>
      <div>
      </div>
    </div>
  </div>
</div>