<div class="product">
  <div class="product__inner">
    <div class="product__inner-img border">
      <img src="./assets/images/product/1.jpg" class="border-radius" alt="">
      <button class="product__btn">
        Заказать
      </div>
    </button>
    <div class="product__inner-block">
      <div class="product__inner-block-tittle h5">ОМ солнце</div>
      <div class="product__inner-block-description">
        <p>Выполнен в 4 уровня из дерева с актировой лепниной и светодиодной подсветкой, вручную декорирован,
          раскрашен
          и
          покрыт паталью.</p>
      </div>
      <div class="product__inner-block-price">
        <sup>от</sup>
        50 000
        <sup>руб.</sup>
      </div>
    </div>
  </div>
</div>