<footer class="footer-inner border-radius_half">
  <div class="footer-inner__logo">
    <img src="./assets/images/footer/footerlogo.svg" alt="">
  </div>
  <div class="footer-inner__sosial-phone footer-inner__sosial-phone-mobile">+7 495 - 555 - 55 - 55</div>
  <div class="footer-inner__nav">
    <a href="#">каталог</a>
    <a href="#">о нас</a>
    <a href="#">о скульптурах</a>
    <a href="#">контакты</a>
  </div>
  <div class="footer-inner__info">
    <a href="#">оплата и доставка</a>
    <a href="#">Политика конфиденциальности</a>
    <a href="#">Договор оферты</a>
  </div>
  <div class="footer-inner__sosial">
    <div class="footer-inner__sosial-phone footer-inner__sosial-phone-desktop">+7 495 - 555 - 55 - 55</div>
    <div class="footer-inner__sosial-icon">
      <a href="#">
        <img src="./assets/images/footer/vkfooter.svg" alt="">
      </a>
      <a href="#">
        <img src="./assets/images/footer/instfooter.svg" alt="">
      </a>
      <a href="#">
        <img src="./assets/images/footer/fbfooter.svg" alt="">
      </a>
    </div>
  </div>
</footer>