<header class="header">
  <div class="header__top-iner">
    <div class="header__social">
      <a href="#">
        <img src="./assets/images/icons/vk.svg" alt="">
      </a>
      <a href="#">
        <img src="./assets/images/icons/instagram.svg" alt="">
      </a>
      <a href="#">
        <img src="./assets/images/icons/facebook.svg" alt="">
      </a>
    </div>
    <div class="header__phone">
      <a href="#">+7 495 - 555 - 55 - 55</a>
    </div>
    <div class="header__nav">
      <a href="/catalog">каталог</a>
      <a href="#">О нас</a>
      <a href="/sculptures">О скульптурах</a>
      <a href="/contacts">контакты</a>
    </div>
  </div>
</header>