<section class="contemplation">
  <div class="contemplation-part__inner">
    <div class="contemplation-part__inner-img">
      <img src="./assets/images/blocks/first.png" alt="">
    </div>
    <div class="contemplation-part__inner-info text-indent">
      <span class="small_title">Созерцание</span>
      Попробуйте начать <span> созерцать Световую Скульптуру,</span> будто наблюдаете
      восходящее утреннее солнце на рассвете. Возможно, просто визуальный контакт
      с изделием незаметно <span>начнёт гармонизировать</span> внутреннее состояние и
      <span>пробуждать</span> позитивное чувство внутри.
    </div>
  </div>
</section>