<section class="main">
  <div class="main__part-iner-img">
    <div class="swiper" id="main_swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./assets/images/title/title.jpg" class="border-radius" alt=""></div>
        <div class="swiper-slide"><img src="./assets/images/title/title.jpg" class="border-radius" alt=""></div>
        <div class="swiper-slide"><img src="./assets/images/title/title.jpg" class="border-radius" alt=""></div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

  </div>
  <div class="main__banner-iner-info">
    <div class="main__banner-iner-info-title h4">
      Пробуди <span>энергию света</span> в&nbsp;своем доме, офисе или студии!
    </div>
    <div class="main__banner-iner-info-description">
      <p>Бренд основан в Италии. Через эту узкую дверь мы растворяемся в единении с духом, который является
        центром везде и нигде. Из этой Точки, которая присутствует повсюду, все вещи сливаются обратно в Бытие
        через вибрацию,<br>звук и свет.</p>
    </div>
    <a class="main__banner-iner-info-btn" href="/sculptures">Cмотреть скульптуры</a>
  </div>
</section>