<section class="main">
  <div class="main__part-iner-img">
    <img src="./assets/images/title/title.jpg" class="border-radius" alt="">
  </div>
  <div class="main__banner-iner-info">
    <div class="main__banner-iner-info-title h4">
      Пробуди <span>энергию света</span> в&nbsp;своем доме, офисе или студии!
    </div>
    <div class="main__banner-iner-info-description">
      <p>Бренд основан в Италии. Через эту узкую дверь мы растворяемся в единении с духом, который является
        центром везде и нигде. Из этой Точки, которая присутствует повсюду, все вещи сливаются обратно в Бытие
        через вибрацию,<br>звук и свет.</p>
    </div>
    <div class="main__banner-iner-info-btn">
      <button>Cмотреть скульптуры</button>
    </div>
  </div>
</section>