<section class="mastery">
  <div class="mastery__background-frame frame">
    <img src="./assets/images/background/main/mastery_frame.svg" alt="">
  </div>
  <div class="mastery__h2 h2">О мастерской</div>
  <div class="mastery-blog__inner">
    <div class="mastery-part__inner-img">
      <img src="./assets/images/blocks/first-blog.png" class="border-radius" alt="">
    </div>
    <div class="mastery-part__inner-info">
      <div class="mastery-part__inner-info-tittle">
        <h1>
          <span>Основатель </span>мастерской Meditation Art и создатель Световых Скульптур - <span>художник из
            Италии Шантидев Оливер
            Граф</span>, много лет практикующий йогу<br>и медитацию.
        </h1>
      </div>
      <div class="mastery-part__inner-info-description">
        <p>В России мастерская Meditation Art является эксклюзивным представителем ипроизводителем светильников для
          медитации по уникальной итальянской технологии.</p>
        <p>Технология была передана основателю мастерской - Егору Виджай Турчинскому. Он стал единственным учеником
          Шантидева, которому Мастер передал все тонкости искусства обрамления света в сакральные формы.</p>
        <p>Егор глубоко практикует йогу и медитацию,<br>которые помогают ему быть проводником света<br>и из глубины
          сердца
          наполнять каждую работу энергией.</p>
      </div>
      <div class="mastery-part__inner-icon">
        <img src="./assets/images/blocks/second.png" class="border-radius_half" alt="">
      </div>
      <div class="mastery-part__inner-icon2">
        <img src="./assets/images/blocks/third.png" class="border-radius_half" alt="">
      </div>
    </div>
  </div>
</section>