<section class="mission">
  <div class="mission__h1 h2">миссия</div>
  <div class="mission__blog-inner">
    <div class="mission__part-inner-img">
      <img src="./assets/images/mission/bigimg.jpg" class="border-radius" alt="">
    </div>
    <div class="mission__part-inner-info">
      <div class="mission__part-inner-info-tittle">
        <h1>
          Миссия мастерской Meditation Art — <span>вдохновлять</span> все больше и больше <span>людей на
            воссоединение</span> со своим Божественным <span>источником внутри.</span>
        </h1>
      </div>
      <div class="mission__part-inner-info-description">
        <p>Световая Скульптура Meditation Art - это оригинальный и эстетичный предмет,
          который придаст неповторимости вашему пространству.</p>
      </div>
      <div class="mission__part-inner-icon border-radius_half">
        <img src="./assets/images/mission/second.jpg" alt="">
      </div>
      <div class="mission__part-inner-icon2 border-radius_half">
        <img src="./assets/images/mission/first.jpg" alt="">
      </div>
      <div class="mission-background-frame frame">
        <img src="./assets/images/footer/background-fame.svg" alt="">
      </div>
    </div>
  </div>
</section>