.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 100;
  background-color: #fff8eb;

  opacity: 0;
  pointer-events: none;
  @include transition(opacity);

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__close {
    position: absolute;
    right: 37px;
    top: 37px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1554px;

    &-form {
      &-group {
        display: flex;
        flex-direction: column;
      }
    }

    &-info {
      display: flex;

      &-content {
        max-width: 39%;

        &-title {
          margin-bottom: 32px;
          font-size: 90px;
          letter-spacing: -0.01em;
        }

        &-description p {
          margin-bottom: 32px;
        }

        &-size {
          display: flex;
          margin-bottom: 56px;

          &-btn {
            display: flex;
            justify-content: center;
            width: 113px;
            height: 62px;
            background: #d5c7aa;
            border-radius: 18px;

            &.active {
              background: #8f7949;
            }

            button {
              font-weight: 500;
              font-size: 24px;
              text-transform: uppercase;
              color: #ffffff;
            }
          }

          &-btn:not(:first-child) {
            margin-left: 16px;
          }
        }

        &-price {
          margin-top: 56px;
          margin-bottom: 60px;
          font-size: 56px;
          line-height: 1;
          height: 71px;

          letter-spacing: -0.01em;

          color: #677471;
        }
      }

      &-group {
        margin-right: 64px;
      }

      &-img {
        // min-width: 37vw;

        &-small {
          display: flex;
          justify-content: center;
          margin-top: 24px;

          button {
            margin-left: 24px;
          }
        }
      }
    }
  }
}

.modal__inner-form-group {
  display: flex;
  flex-direction: column;
  // width: 597px;
}

.modal__form-group {
  // width: 597px;
  height: 86px;

  border: 2px solid #868b85;
  border-radius: 26px;
  margin-bottom: 24px;
}

.modal__form-group::placeholder {
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  padding-left: 40px;
  text-transform: uppercase;

  color: #868b85;
}

.modal__btn {
  display: flex;
  justify-content: center;
  width: 178px;
  height: 105px;

  background: #8f7949;
  border-radius: 26px;

  button {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;
  }
}
