.modal-thx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 101;
  // background-color: #fff8eb;
  // background-color: rgba($color: #fff8eb, $alpha: 0);
  opacity: 0;
  pointer-events: none;
  @include transition(opacity);

  &.active {
    background-color: rgba(#fff8eb, 0.96);
    // opacity: 0.96;
    opacity: 1;
    pointer-events: all;
  }

  &__close {
    position: absolute;
    right: 29px;
    top: 29px;

    svg path{
      transition: 0.3s ease;
    }
    
    &:hover{
      svg path{
        fill: #C4A667;
      }
    }
  }

  &__inner {
    position: relative;
    background: #fff8eb;
    border: 2px solid #868b85;
    border-radius: 26px;
    width: size(525, 326);
    height: size(318, 255);


    &-title {
      line-height: 100%;
      letter-spacing: -0.01em;
      padding: 48px 51px 32px 32px;
      @include font-size(90, 40);
      width: size(525, 243);

    }

    &-description {
      padding: 0 51px 48px 32px;
      letter-spacing: -0.015em;

      p {
        @include mobile {
          font-size: 18px;
        }
      }

    }
  }
}