.catalog__grid {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid rgba(64, 72, 70, 0.15);
  border-top: 1px solid rgba(64, 72, 70, 0.15);
}

.product {
  width: 33.33%;
  position: relative;

  @include tablet {
    width: 50%;
  }

  @include mobile {
    width: 100%;
  }

  &__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #8f7949;
    bottom: 54px;
    right: 54px;
    color: #fff;
    text-transform: uppercase;
    width: size(112, 90);
    height: size(112, 90);
    border-radius: size(32, 24);
    @include font-size(28, 20);


    @include mobile {
      bottom: 24px;
      right: 24px;
    }
  }

  &__btn:hover {
    background: #C4A667;
    transition: 0.3s ease;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 64px 32px;
    border-right: 1px solid rgba(64, 72, 70, 0.15);
    border-bottom: 1px solid rgba(64, 72, 70, 0.15);

    @include laptop {}

    @include tablet {
      padding: 24px;
    }

    @include mobile {}

    &-img {
      max-width: 574px;
      position: relative;
      margin-bottom: 48px;

      @include mobile {
        position: static;
        margin-bottom: 24px;
      }
    }

    &-block {
      max-width: 574px;

      &-tittle {
        margin-bottom: 32px;

        @include mobile {
          margin-bottom: 16px;
        }
      }

      &-description {
        margin-bottom: 48px;

        @include mobile {
          margin-bottom: 16px;
        }
      }

      &-price {
        font-size: 56px;
        letter-spacing: -0.01em;
        color: #677471;

        @include mobile {
          :first-child {
            display: none;
          }
        }

        sup {
          font-size: 38px;
          padding: 0 11px;
        }
      }
    }
  }
}