.title {
  display: flex;
  justify-content: center;

  &__group {
    // position: relative;

    &-h3 {
      margin: 115px 0;
      position: relative;
    }

    &-badge {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 65px;
      height: 85px;

      left: 104%;
      top: -20%;
      background: #8f7949;
      border-radius: 26px;

      @include font-size(48, 24);
      // line-height: 61px;
      letter-spacing: -0.015em;
      color: #ffffff;

      @include mobile {
        width: 37px;
        height: 46px;
        border-radius: 12px;
      }
    }
  }
}
