@import "globals/globals.scss";
@import "blocks/main/contemplation.scss";
@import "blocks/header.scss";

body {
  position: relative;
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  height: auto;
  background-color: #fff8ea;
}

.container {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
}

// ШАПКА

.header__social {
  display: flex;
  margin-top: 26px;
  margin-bottom: 26px;

  a {
    margin-right: 16px;
  }
}

.header__top-iner {
  display: flex;
  justify-content: space-between;
  background-color: #fff8ea;
  padding: 0 32px;
}

.header__logo1 {
  position: absolute;
}

.header__logo2 {
  position: relative;
  left: 150px;
  display: flex;
  align-items: center;
}

.header__phone {
  margin-top: 26px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color: #434b49;
  margin-right: 443px;
}

.header__nav {
  margin-top: 26px;
  font-weight: 500;
  font-size: 40px;
  color: #424b49;
  text-transform: uppercase;

  a {
    padding-left: 56px;
  }
}

// БАННЕР

.main-part {
}

.main-part__iner {
  display: flex;
  margin-top: 32px;
  border-bottom: 1px solid rgba(#404846, 0.15);
}

.main-part__iner-img {
  padding: 32px;
  width: 67%;
}

.main-banner__iner-info {
  border-left: 1px solid rgba(#404846, 0.15);
  padding: 32px;
  flex: 1;
}

.main-banner__iner-info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  color: #404846;

  h1 {
    margin-top: 18px;
  }

  span {
    color: #8f7949;
  }
}

.main-banner__iner-info-description {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  margin-top: 40px;
  letter-spacing: -0.015em;

  color: #414947;

  opacity: 0.7;
}

.main-banner__iner-info-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 48px;
  margin-top: 64px;
  border-radius: 26px;
  margin-bottom: 207px;

  width: 295px;
  height: 105px;

  background: #8f7949;

  button {
    font-family: "Druk Cyr";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    text-transform: uppercase;

    color: #ffffff;
  }
}

// .banner {
//   max-height: 308px;

//   h1 {
//     font-family: "Druk Cyr";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 300px;
//     line-height: 110%;

//     display: flex;
//     align-items: center;
//     letter-spacing: 2px;
//     text-transform: uppercase;

//     color: #404846;
//   }
// }

// ПЕРВАЯ ЧАСТЬ

.first-part__iner {
  display: flex;
  margin-top: 216px;
  border-bottom: 1px solid rgba(64, 72, 70, 0.15);
}

.first-part__iner-img {
  width: 447px;
  padding: 32px;
}

.first-part__iner-info {
  margin-left: 189px;
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 100%;
  flex: 1;
  margin-bottom: 200px;
  color: #404846;

  span {
    color: #8f7949;
  }
}

// ПЕРВЫй БЛОГ

.first-blog__iner {
  position: relative;
  display: flex;
}

.background-frame {
  max-width: 1115px;
  position: absolute;
  top: -6%;
}

.h1 {
  font-family: "Druk Cyr";
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 240px;
  line-height: 100%;
  margin-top: 212px;
  margin-left: 347px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  color: #414a47;
}

.first-part__inner-img {
  margin-top: 300px;
  padding-left: 32px;
  padding-right: 176px;
  width: 43%;
  z-index: 1;
}

.first-part__inner-info {
  flex: 1;
}

.first-part__iner-info-tittle {
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  color: #404846;
  margin-top: 120px;
  margin-right: 189px;

  span {
    color: #8f7949;
  }
}

.first-part__inner-info-description {
  font-family: "Neue Haas Unica W1G";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.015em;
  color: #414947;
  margin-top: 50px;
  opacity: 0.7;

  p {
    padding-top: 40px;
    margin-right: 504px;
    min-width: 597px;
  }
}

.first-part__inner-icon {
  max-width: 283px;
  margin-top: 200px;
  margin-left: 150px;
}

.first-part__inner-icon2 {
  position: absolute;
  max-width: 283px;
  left: 82%;
  top: 48%;
}

.banner-part {
  position: relative;
}

.background-frame__right {
  max-width: 1022px;
  position: absolute;
  right: 0%;
  top: -35%;
}

.banner-img {
  max-width: 1867px;
  position: relative;
  padding-left: 32px;
  padding-top: 190px;
}

.h2 {
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 240px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: 347px;
  margin-top: 90px;
  color: #414a47;
}

.second-part__inner {
  display: flex;
}

.second-part__inner-info {
  flex: 1;
  padding-left: 187px;
  padding-top: 90px;
}

.second-part__inner-img {
  min-width: 285px;
  margin-top: 447px;
  padding-left: 32px;
}

.second-part__iner-info-tittle {
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  max-width: 1069px;
  color: #414a47;
  padding-bottom: 50px;
  position: relative;
}

.second-part__inner-info-description {
  font-family: "Neue Haas Unica W1G";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;

  letter-spacing: -0.015em;

  color: #414947;

  opacity: 0.7;

  p {
    padding-top: 40px;
    margin-right: 504px;
    max-width: 597px;
  }
}

.second-part__inner-img-blog {
  position: absolute;
  max-width: 731px;
  right: 2%;
  top: 36%;
}

.background-frame-right {
  position: absolute;
  right: 0;
}

.second-part__inner-img-icon {
  position: relative;
  max-width: 286px;
  margin-top: 200px;
  z-index: 2;
}

.background-frame-left {
  position: absolute;
  left: 0%;
  top: 68%;
  z-index: 1;
}

.third-part{
  margin-top: 190px;
  margin-left: 661px;
}

.h3 {
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 240px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #414a47;
}

.third-part__inner {
  display: flex;
}
