@import "globals/globals.scss";
@import "blocks/main/contemplation.scss";
@import "blocks/main/mastery.scss";
@import "blocks/main/banner.scss";
@import "blocks/main/history.scss";
@import "blocks/main/mission.scss";
@import "blocks/main/main.scss";
@import "blocks/catalog/title.scss";
@import "blocks/catalog/experience.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";

body {
  position: relative;
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  height: auto;
  background-color: #fff8ea;
}

.container {
  max-width: 1920px;
  margin-inline: auto;
  overflow: hidden;
}
