@import "nullstyle";
@import "mixins";
@import "fonts";

body {
  position: relative;
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  height: auto;
  background-color: #fff8ea;
  color: #414a47;
}

.container {
  max-width: 1920px;
  margin-inline: auto;
}

main {
  overflow: hidden;
}

p {
  font-family: "Neue Haas Unica";
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.015em;
  color: #414947;
  opacity: 0.7;
  margin-bottom: 40px;
}

span {
  color: #8f7949;
}

.border-radius {
  border-radius: $borderRadius;
  overflow: hidden;

  &_half {
    border-radius: $borderRadius / 2;
    overflow: hidden;
  }
}

.h2 {
  font-size: 240px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h3 {
  font-size: 140px;
  line-height: 100%;
  text-transform: uppercase;
}

.h4 {
  font-size: 80px;
  line-height: 100%;
  color: #404846;
}

.h5 {
  font-size: 64px;
  line-height: 81px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.title_main {
  margin-bottom: 40px;
}

.title_margin {
  margin-top: 160px;
  margin-bottom: 90px;
}

.frame {
  pointer-events: none;
}

.text-indent {
  text-indent: 30%;
  position: relative;

  .small_title {
    font-family: "Neue Haas Unica";
    text-indent: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;

    letter-spacing: -0.015em;

    color: #677470;
  }
}
