@import "nullstyle";
@import "mixins";
@import "fonts";

body {
  position: relative;
  font-family: "Druk Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  height: auto;
  background-color: #fff8ea;
  color: #414a47;

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1920px;
  margin-inline: auto;
}

main {
  overflow: hidden;
}

p {
  font-family: "Neue Haas Unica";
  @include font-size(24, 14);
  line-height: 140%;
  color: #414947;
  opacity: 0.7;
  margin-bottom: 40px;

  @include mobile {
    line-height: 160%;
  }
}

span {
  color: #8f7949;
}

.border-radius {
  border-radius: size(120, 48);
  overflow: hidden;

  &_half {
    border-radius: $borderRadius / 2;
    overflow: hidden;
  }
}

.h2 {
  font-size: 240px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include font-size(240, 56);
}

.h3 {
  @include font-size(140, 56);
  line-height: 100%;
  text-transform: uppercase;
}

.h4 {
  @include font-size(80, 36);
  line-height: 100%;
  color: #404846;
}

.h5 {
  @include font-size(64, 48);
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.title_main {
  margin-bottom: 40px;

  @include mobile{
    margin-bottom: 32px;
  }
}

.title_margin {
  margin-top: 160px;
  margin-bottom: 90px;

  @include mobile{
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.frame {
  pointer-events: none;
}

.text-indent {
  position: relative;

  .small_title {
    font-family: "Neue Haas Unica";
    text-indent: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    line-height: 140%;
    @include font-size(24, 14);
    letter-spacing: -0.015em;

    color: #677470;
  }
}
